*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    margin-top: 1rem;
    width: 100%;
}
.nav-logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
}
.nav-logo:hover{
    color: orangered;
    cursor: pointer;
}
.nav-links{
    display: flex;
}
.nav-links li{
    list-style-type: none;
    margin-right: 1.25rem;
    font-size: 1.1rem;
    color: #777;
}
.nav-links li:hover{
    color: orangered;
    cursor: pointer;
}
.user{
    margin-top: 1rem;
    padding: 1rem;
    height: auto;
    border-radius: 10px;
    background-color: #ff80008d;
    color: white;
}
.user:hover{
    background-color: orangered;
    cursor: pointer;
}
.main{
    padding: 0 5rem 0;
}
.hero-section{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading{
    color: #555;
    font-size: 2.5rem;
    line-height: 3.5rem;
}
.heading-text{
    color: orangered;
}
.heading-description{
    color: #777;
    line-height: 1.5rem;
}
.book-btn{
    color: white;
    background-color: #ff80008d;
    border: none;
    border-radius: 15px;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;  
    margin-top: 2rem;
}
.book-btn:hover{
    background-color: orangered;
    cursor: pointer;
}